/Python/ytdl-daemon/youtube-dl_daemon.log
/Python/ytdl-daemon/alreadyDownloaded.txt
**/.ipynb_checkpoints/
**/*checkpoint.ipynb
**/.idea/
**/out.*
__pycache__
*.log
secret.txt
**/*.sqlite3
Python/thumbnailBracket/.env
migrations
