<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %} {% static 'thumbnails' as thumbnails %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />


  <link rel="stylesheet" href="{% static 'sticky-footer-navbar.css' %}" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/fontawesome.min.css" />
  <link rel="icon" type="image/jpg" href="{% static 'favicon-16x16.png' %}" />
  <link rel="icon" type="image/jpg" href="{% static 'favicon-32x32.png' %}" />

  <title>{% block title %}Who wants to be a Bolgimaire?{% endblock %}</title>

</head>

<body>
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-md ">
        <span class="navbar-brand">Cobe vs Cobe</span>
        <button id = "navbar_collapse" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'bracket.index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'bracket.vote' %}" tabindex="-1">Vote</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1">Leaderboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1">Stats</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="container-lg mx-auto">
      
    <!--mt-5 pt-3-->
    {% block content %}

    {% endblock %}

  </main>

  <footer class="footer bg-light">
    <div class="container">
      <span> <a href="https://xkcd.com/915/" style="color: #b9b9b9">915</a>
        <!--class="text-muted"-->
      </span>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script src="{% static 'base.js' %}"></script>

</body>

</html>