{% extends "base.html" %}
{% load static %} {% static 'thumbnails' as thumbnails %}

{% block title %}TMDWU{% endblock %}

{% block content %}
<div class="jumbotron ">
  <h1 class="display-5 text-center">Cobra Thumbnail Rankings</h1>
  <p>
    Join the search in finding the cream of the crop, the cardinal cherry of the
    food hack, the cheese pull of the custom Dominos pizza, the best KingCobraJFS thumbnail of them all.
  </p>
  <p>TODO: make a friendly site map with images so people can navigate from the landing page to all areas of the app without using the hamburger button</p>
  <br />
  <p class="lead"></p>
  <div class="row">
    <div class="col-6 text-center">
      <a class="btn btn-primary btn-lg" href="{% url 'bracket.vote' %}" role="button">Vote!</a>
    </div>
    <div class="col-6 text-center">
      <a class="btn btn-primary btn-lg" href="{% url 'bracket.leaderboard' %}" role="button">Leaderboards</a>
    </div>
  </div>
</div>
<br />

<hr class="my-4" />
<img src={% static 'hairDye.jpeg' %} class="img-fluid d-block col-md-11 mx-auto" alt="kingcobrajfs hair dye picture">

{% endblock %}