{% extends "base.html" %}
{% load static %} {% static 'thumbnails' as thumbnails %}

{% block title %}TMDWU{% endblock %}

{% block content %}
<div class="jumbotron ">
  <h1 class="display-5">Cobra Thumbnail Tournament</h1>
  <p>
    Join the search in finding the cream of the crop, the cardinal cherry of the
    food hack, the cheese pull of the custom Dominos pizza, the best KingCobraJFS thumbnail of them all.
  </p>
  <br />
  <p class="lead"></p>
  <div>
    <a class="btn btn-primary btn-lg" href="{% url 'bracket.index' %}" role="button">Vote!</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">View leaderboards</a>
  </div>
</div>
<br />

<hr class="my-4" />
<img src={% static 'hairDye.jpeg' %} class="img-fluid d-block col-md-11 mx-auto" alt="kingcobrajfs hair dye picture">

{% endblock %}