{% extends "base.html" %}
{% load static %}
{% block title %}TMDWU{% endblock %}
{% block content %}
<div class="jumbotron ">
    <h1 class="display-5">Best of the Boglim</h1>
    <p> These are what's up, best first </p>
</div>


<div class="row">
    <!--I'm using this loop just for two choices because I want this to be extensible to a 16 thumbnail bracket -->
    {% for rank, metadata, displayMetadata in leaders %}
    <figure class="col-md-4">
        <div class="row">
            <div class="col">
                <figcaption class="text-center pb-1">{{metadata.title}}</figcaption>
            </div>
        </div>
        <img type="image" name="{{key}}" id="{{metadata.id}}" class="img-fluid rounded w-100 thumbnail"
            src={{metadata.thumbnail}} alt="{{metadata.webpage_url}}">
        <div class="row">
            {% include "ytVidMetaTable.html" with ytMetadatum=displayMetadata colLen=12 %}
        </div>
    </figure>


    {% endfor %}
</div>
{% csrf_token %}

{% endblock %}