<!DOCTYPE html>
<html lang="en">

<head>
    <title>hi there</title>
</head>
<body>
    <div style="float: left">Left Text</div>
    <div style="float: right">Right Text</div>
    <div style="margin: 0 auto; width: 100px;">Centered Text</div>
    <br>
    <div class="float-left">Float left on all viewport sizes</div>
    
    <div class="float-right">Float right on all viewport sizes</div>
    <div style="margin: 0 auto; width: 100px;">Centered Text</div>
    <div style="float: right">Right Text</div>

<br>
    <div class="float-none m-0 w-100">Don't float on all viewport sizes</div>
</body>
